doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title С-Терра
  body
    svg(style="display: none")
      symbol#arrow-left(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M0.29337 6.70845C-0.09779 6.31718 -0.09779 5.68282 0.29337 5.29155L5.29011 0.29345C5.68127 -0.0978163 6.31547 -0.097817 6.70663 0.29345C7.09779 0.684716 7.09779 1.31908 6.70663 1.71035L1.70989 6.70845C1.31873 7.09972 0.684531 7.09972 0.29337 6.70845Z" fill="currentColor")
        path(d="M0.29337 5.29155C-0.09779 5.68282 -0.09779 6.31718 0.29337 6.70845L5.29011 11.7066C5.68127 12.0978 6.31547 12.0978 6.70663 11.7066C7.09779 11.3153 7.09779 10.6809 6.70663 10.2896L1.70989 5.29155C1.31873 4.90028 0.684531 4.90028 0.29337 5.29155Z" fill="currentColor")

      symbol#arrow-right(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M6.70663 6.70845C7.09779 6.31718 7.09779 5.68282 6.70663 5.29155L1.70989 0.29345C1.31873 -0.0978163 0.684531 -0.097817 0.29337 0.29345C-0.0977898 0.684716 -0.0977898 1.31908 0.29337 1.71035L5.29011 6.70845C5.68127 7.09972 6.31547 7.09972 6.70663 6.70845Z" fill="currentColor")
        path(d="M6.70663 5.29155C7.09779 5.68282 7.09779 6.31718 6.70663 6.70845L1.70989 11.7066C1.31873 12.0978 0.68453 12.0978 0.29337 11.7066C-0.0977901 11.3153 -0.0977901 10.6809 0.29337 10.2896L5.29011 5.29155C5.68127 4.90028 6.31547 4.90028 6.70663 5.29155Z" fill="currentColor")

    .page
      header.header
        .container
          .logo
            img(src=require("./img/logo.png") alt="С-Терра логотип")
          nav.nav
            ul.main-menu
              li.main-menu__item О компании
              li.main-menu__item Каталог
              li.main-menu__item Поддержка
              li.main-menu__item Пресс-центр
              li.main-menu__item
                a(href="#") Партнёры
              li.main-menu__item
                a(href="#") Контакты
          .contacts
            .contacts__phone
              a(href="tel:+74999409061") 8 (499) 940-90-61
            .contacts__menu
              |Связаться с нами
          button.search.header-action(type="button")
            img(src=require('./img/icons/search.svg') alt="")
          button.user.header-action( type="button" )
            img(src=require('./img/icons/user.svg') alt="")

      main.main
        .banner
          .container
            .banner-slider.slider
              .slider__slides
                section.slider__slide
                  h2.banner__header Обеспечиваем современными решениями для построения VPN
                  button.banner__button(type="button") Выбрать решение
              .slider__navigation
                button.active(type="button")
                button(type="button")
                button(type="button")
            .banner-img.lighthouse

        .colored-block
          .achivements
            .container

              -
                var achievements = [
                  { value: '18', text: 'лет<br>работы'},
                  { value: '23', text: 'продукта в реестре<br>российского ПО'},
                  { value: '5000+', text: 'сетей защищают<br>продукты С-Терра'},
                  { value: '300+', text: 'партнеров во всех<br>регионах России'},
                  { value: '39', text: 'сертификатов ФСБ, ФСТЭК<br>и Минкомсвязи России'},
                ]

              each item in achievements
                .achievement
                  .achievement__bullet
                  .achievement__value= item.value
                  .achievement__text !{item.text}

          .info
            .container
              section.info-company
                .info-company__container
                  .info-company__icons
                  .info-company__content
                    h2.info-company__title Разрабатываем и производим сердства сетевой информационной безопасности

                    .info-company__text На основе технологии IPsec VPN обеспечиваем защиту межсетевых взаимодействий, беспроводных и мультисервисных сетей, безопасность работы удаленных и мобильных пользователей.
                    .info-company__link
                      a.btn(href="#") О компании
                    </div>
                  </div>
                </div>

              section.info-products
                .info-products__container
                  h2.info-products__title Вся продуктовая линейка ООО «С-Терра СиЭсПи»
                  div.info-products__text Ознакомьтесь с линейкой нашей продукции
                  div.info-products__link
                    a.btn.btn-danger(href="#") Перейти в каталог

          .partners
            .partners-slider.slider
              .slider__slides
                -
                  var partners = [
                    { img: require("./img/partners/1.png"), alt: ''},
                    { img: require("./img/partners/2.png"), alt: ''},
                    { img: require("./img/partners/3.png"), alt: ''},
                    { img: require("./img/partners/1.png"), alt: ''},
                    { img: require("./img/partners/2.png"), alt: ''},
                  ]

                each partner in partners
                  .slider__slide
                    img(src=partner.img alt=partner.alt)

              .container
                .slider__controls
                  button.slider__control.slider__prev.btn.btn-circle(type="button")
                    svg(width="7" height="12")
                      use(xlink:href="#arrow-left" href="#arrow-left")
                  button.slider__control.slider__next.btn.btn-circle(type="button")
                    svg(width="7" height="12")
                      use(xlink:href="#arrow-right" href="#arrow-right")

        .lines-block

          section.solutions
            .container
              header.solutions__header
                h2.solutions__title Наши решения
                ul.solutions-menu
                  li.solutions-menu__item
                    a.active(href="#") Все
                  li.solutions-menu__item
                    a(href="#") Комплексные
                  li.solutions-menu__item
                    a(href="#") Отраслевые

            .solutions-slider.slider
              .slider__slides
                -
                  var solutions = [
                    {
                      group: 'Комплексное решение',
                      title: 'Защита удаленного доступа',
                      icon: require("./img/solutions/1.png")
                    },
                    {
                      group: 'Комплексное решение',
                      title: 'Защита персональных данных',
                      icon: require("./img/solutions/2.png")
                    },
                    {
                      group: 'Комплексное решение',
                      title: 'Защита межфилиальных взаимодействий',
                      icon: require("./img/solutions/3.png")
                    }
                  ]

                each solution in solutions
                  section.solutions-slider__slide.solution
                    .solution__group= solution.group
                    h3.solution__group= solution.faq__title
                    .solution__icon
                      img(src=solution.icon alt="")

              .container
                .slider__controls
                  button.slider__control.slider__prev.btn.btn-circle(type="button")
                    svg(width="7" height="12")
                      use(xlink:href="#arrow-left" href="#arrow-left")
                  button.slider__control.slider__next.btn.btn-circle(type="button")
                    svg(width="7" height="12")
                      use(xlink:href="#arrow-right" href="#arrow-right")
                  a.btn.slider__link(href="#") Каталог решений

          .docs
            .container
              .docs__container
                section.docs-item
                  .docs-item__container
                    h2.docs-item__title Международные технические стандарты IPsec
                    .docs-item__link
                      a(href="#")
                        |Подробнее
                        svg(width="7" height="12")
                          use(xlink:href="#arrow-right" href="#arrow-right")
                    .docs-item__icon
                section.docs-item
                  .docs-item__container
                    h2.docs-item__title Сертификация в органах ФСБ и ФСТЭК России
                    .docs-item__link
                      a(href="#")
                        |Подробнее
                        svg(width="7" height="12")
                          use(xlink:href="#arrow-right" href="#arrow-right")
                    .docs-item__icon

          section.faq
            .faq__container
              h2.faq__title Как начать работать с нами

              .faq-accordion
                -
                  var faq = [
                    {
                      title: 'Как подобрать решение и составить спецификацию',
                      text: 'Мы подготовили <a href="#" download>опросный лист</a>, который поможет нашим инженерам получить представление о задаче и начать конструктивный диалог. Пришлите ответы на <a href="mailto:presale@s-terra.ru">presale@s-terra.ru</a>.Далее с вами свяжется инженер и уточнит детали. В итоге Вы получите правильную спецификацию и наши менеджеры дадут коммерческое предложение. Если Вы составили спецификацию самостоятельно, пришлите нам ее на проверку.'
                    },
                    {
                      title: 'Как получить VPN продукты в тестирование',
                      text: 'Мы подготовили <a href="#" download>опросный лист</a>, который поможет нашим инженерам получить представление о задаче и начать конструктивный диалог. Пришлите ответы на <a href="mailto:presale@s-terra.ru">presale@s-terra.ru</a>.Далее с вами свяжется инженер и уточнит детали. В итоге Вы получите правильную спецификацию и наши менеджеры дадут коммерческое предложение. Если Вы составили спецификацию самостоятельно, пришлите нам ее на проверку.'
                    },
                    {
                      title: 'Как стать партнером',
                      text: 'Мы подготовили <a href="#" download>опросный лист</a>, который поможет нашим инженерам получить представление о задаче и начать конструктивный диалог. Пришлите ответы на <a href="mailto:presale@s-terra.ru">presale@s-terra.ru</a>.Далее с вами свяжется инженер и уточнит детали. В итоге Вы получите правильную спецификацию и наши менеджеры дадут коммерческое предложение. Если Вы составили спецификацию самостоятельно, пришлите нам ее на проверку.'
                    }
                  ]
                each item in faq
                  section.faq-item
                    header.faq-item__header
                      h2.faq-item__title !{item.title}
                      .faq-item__state
                    .faq-item__content !{item.text}

        section.colored-block.cooperation
          .container
            h2.cooperation__title Истории сотрудничества

          .cooperation-slider.slider
            .slider__slides
              -
                var cases = [
                  {
                    logo: require("./img/cases/1.png" ),
                    title: '«Ростелеком-Солар», компания группы ПАО «Ростелеком»',
                    text: 'Компании планируют создавать на базе собственных продуктов и услуг новые совместные комплексные решения по информационной безопасности, отвечающие на самые актуальные вызовы в сфере защиты от киберугроз.'
                  },
                  {
                    logo: require("./img/cases/2.png" ),
                    title: '«Аквариус»',
                    text: 'Цель сотрудничества — импортозамещение в сфере информационной безопасности. Серверные системы Aquarius состоят в Едином реестре российской радиоэлектронной продукции Минпромторга России.'
                  },
                  {
                    logo: require("./img/cases/3.png" ),
                    title: '«АТБ Электроника»',
                    text: 'Созданный альянс способствует развитию импортозамещения на российском рынке информационной безопасности. Сертифицированные ФСБ России VPN-шлюзы С-Терра, состоящие в Едином реестре российских программ для ЭВМ и баз данных, получат российскую серверную часть «АТБ-АТОМ».'
                  }
                ]
              each caseItem in cases
                section.slider__slide.case
                  .case__container
                    .case__logo
                      img(src=caseItem.logo)
                    h3.case__title !{caseItem.title}
                    .case__text !{caseItem.text}

            .container
              .slider__controls
                button.slider__control.slider__prev.btn.btn-circle(type="button")
                  svg(width="7" height="12")
                    use(xlink:href="#arrow-left" href="#arrow-left")
                button.slider__control.slider__next.btn.btn-circle(type="button")
                  svg(width="7" height="12")
                    use(xlink:href="#arrow-right" href="#arrow-right")
                a.btn.slider__link(href="#") Все истории

        .news.lines-block
          .container
            h2.news__title Новости и события

          .news-slider.slider
            .slider__slides
              -
                var articles = [
                  {
                    img: require('./img/news/1.png'),
                    link: "#",
                    date: '7 октября 2021',
                    title: 'С-Терра на GIS Days 2021',
                    text: 'Компания «С-Терра СиЭсПи» принимает участие в форуме «Global Information Security Days 2021», посвященном технологической безопасности и новой киберреальности. ',
                  },
                  {
                    img: require('./img/news/2.png'),
                    link: "#",
                    date: '9 июня 2021',
                    title: 'С-Терра TLS Шлюз 4.3 успешно прошел испытания',
                    text: 'Доказана совместимость С‑Терра TLS Шлюз 4.3 и эталонной реализации российских криптоалгоритмов для протокола TLS 1.2.',
                  },
                  {
                    img: require('./img/news/3.png'),
                    link: "#",
                    date: '21 мая 2021',
                    title: 'Итоги вебинара про С-Терра КП и С-Терра Клиент',
                    text: '20 мая 2021 г «С‑Терра СиЭсПи» провела вебинар «Версия 4.3. С‑Терра КП и С‑Терра Клиент». Презентация и запись вебинара размещены на сайте',
                  },
                  {
                    img: require('./img/news/4.png'),
                    link: "#",
                    date: '30 марта 2020',
                    title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
                    text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
                  }
                ]

              each article in articles
                section.slider__slide.article
                  a.article__container(href=article.link)
                    .article__img
                      img(src=article.img)
                    .article__date= article.date
                    h3.article__title= article.title
                    .article__title !{article.text}


            .container
              .slider__controls
                button.slider__control.slider__prev.btn.btn-circle(type="button")
                  svg(width="7" height="12")
                    use(xlink:href="#arrow-left" href="#arrow-left")
                button.slider__control.slider__next.btn.btn-circle(type="button")
                  svg(width="7" height="12")
                    use(xlink:href="#arrow-right" href="#arrow-right")
                a.btn.slider__link(href="#") Пресс-центр

        .form.colored-block
          .form__container
            h2.form__title Хотите, чтобы мы с вами связались?
            .form__subtitle Оставьте свои контакты

          .form__wrapper
            .form__image
            .form__fields
              .form__field
                input(type="text" value="Иванов Петр")
              .form__field
                input(type="text" value="ООО «Энергия»")
              .form__field
                input(type="text" value="ivanov@energy.ru")
              .form__field
                input(type="text" value="Номер телефона")
              .form__field
                textarea Комментариий (необязательно)
              .form__confirm
                .checkbox
                  input(type="checkbox" checked)
                  .checkbox__label Даю согласие на обработку своих персональных данных в соответствии с #[a(href="#") Политикой обработки персональных данных ООО «С-Терра СиЭсПи»].
              .form__submit
                button(type="submit") Отправить

      footer.footer
        .container
          .footer__column
            .footer__logo
              img(src=require('./img/logo-white.png') alt="S-Terra логоти")
            .footer__link
              a(href="#") Предупреждение об <br> информации на сайте
            .footer__link
              a(href="#") Политика обработки персональных<br>данных ООО «С-Терра СиЭсПи»
            .footer__copyright
              |© ООО «С-Терра СиЭсПи», 2021
              br
              |Все права защищены.
          .footer__column
            p
              b Офис:
              br
              |Москва, г. Зеленоград,<br>Георгиевский пр-кт, дом 5, эт. 4-й<br>основной, пом. 1.

            p
              |Телефон/факс:
              br
              b 8 (499) 940-90-61

            p
              |Почта
              br
              b
                a(href="#") information@s-terra.ru

          .footer__column.footer-menu
            .footer-menu__header Компания
            ul.footer-menu__list
              li
                a(href="#") О компании
              li
                a(href="#") Поддержка
              li
                a(href="#") Партнеры
              li
                a(href="#") Контакты
              li
                a(href="#") Карта сайта

          .footer__column.footer-menu
            .footer-menu__header Каталог
            ul.footer-menu__list
              li
                a(href="#") Продукты
              li
                a(href="#") Комплексные решения
              li
                a(href="#") Отраслевые решения

          .footer__column.footer-menu
            .footer-menu__header Мы в соц.сетях
            ul.footer-menu__list
              li
                a(href="#") Вконтакте
              li
                a(href="#") Telegram
              li
                a(href="#") Youtube
              li
                a(href="#") Facebook
              li
                a(href="#") Instagram
